/* 
.card {
    margin: 0 auto;
    background: linear-gradient(to Bottom, rgba(${red}), pink);
    color: white;
    width: 200px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.location {
    text-align: center;
}

.state {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.6rem
}

.city {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.6rem;
}

.temp {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
    font-weight: 200;
}

.condition {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.2rem;
}

.icon {
    width: 40% 
} */